################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CM2.VC.db
/CM2.VC.VC.opendb
